@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 0px
}

:root {
  --bg-main-color-100 :#282828;
  --bg-green-50: #adff8c;
  --bg-green-10: #e6ffdc;
  --bg-blue-50: #92baff;
  --bg-blue-10: #d6e5ff;
  --color-main-white: #ffff
}

.container-home {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-main-color-100);
  display: flex;
  justify-content: center;
  align-items: center;
}